._nd_ ._hh7._6ybn {
    background-color: #365899 !important;
}

._3i_m ._2her {
    background-color: #365899 !important;
    color: #365899 !important;
}

._3oh-, ._2v6o{
    color: rgba(235,237,240, 0.40) !important;
}

._3oh- ._58nk, ._3szq, ._3eus, ._1lj0,
        ._1ht6, ._1htf, ._1tqi{
    color: #ebedf0 !important;
}

._4sp8 {
    background-color: #1d2129 !important;
}

._1ht7 {
    color: rgba(235,237,240, 0.40) !important;
}

._hh7 {
    background-color: #373e4c !important;
}
